.color{
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
}
.color2{
    margin-top: 20px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 10px;
    text-align: center ;
 }
